<form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ressource?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn">Suprimer</button>
</form>
