{% extends 'base.html.twig' %}

{% block title %}Espace de gestion{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig'%}

{% include 'navigation.html.twig'%}

<main class=" container py-5">

    <h1>Ajouter une nouvelle formation</h1>

    {{ include('course/_form.html.twig') }}

<a href="{{ path('app_course_index') }}"><button class="btn btn-primary">Retour à l'index</button></a>

</main>
{% endblock %}
