{% extends 'base.html.twig' %}

{% block title %} Eco IT - Des formations pour la planête - A propos de nous {% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class="container py-5">
  <div class="row g-5">
    <div class="col-md-12 col-lg-12">

      <h1 class="mb-3">A propos de nous</h1>

        <p>C’est un fait, la crise écologique est devenue une urgence majeure. 
          La sixième extinction massive a déjà commencé et le changement climatique se 
          fait de plus en plus ressentir au fil des années. Mais qu’en est-il d’internet ?
        </p>
        <p>En matière d’émissions de CO2, il pollue 1.5 fois plus que le transport aérien. 
            D’ailleurs, en 20 ans, le poids d’une page web a été multiplié par 115 (source : https://www.greenit.fr/)
            Face à ce constat, un organisme de formation a été fondé en 2017 : EcoIT. Son objectif est 
            d’être une plateforme d’éducation permettant à tout instructeur expert en accessibilité et 
            en éco-conception web de présenter des modules de cours.
        </p>
        <p>À terme, EcoIT désire devenir la référence française pour les développeurs 
          soucieux de leur impact digital. Et pourquoi pas délivrer enfin un label officiel pour classer 
          les sites web selon leur empreinte numérique.
        </p>

        
        
        <h2 class="mb-3">Notre philosophie</h2>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        <h2 class="mb-3">Ecologie et technologie</h2>
           <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        <h2 class="mb-3">Coder et protéger</h2>
         <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
    </div>
  </div>     
<main>
 
{%include 'footer.html.twig' %}

{% endblock %}
