{% extends 'base.html.twig' %}


{% block title %}Devenir instructeur - Eco IT, des formations pour la planête{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

 {% form_theme form 'foundation_5_layout.html.twig '%}

	

  <h1 class="h3 mb-3 fw-normal">S'inscrire comme instructeur</h1>

 {{ form(form, { 'method': 'POST'}, { 'attr' : { 'novalidate': 'novalidate'}}) }}

   {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Envoyer</button>
   {{ form_end(form) }}

  




{%include 'footer.html.twig' %}

{% endblock %}
