{% extends 'base.html.twig' %}


{% block title %}Devenir instructeur - Eco IT, des formations pour la planête{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig'%}

{% include 'navigation.html.twig'%}

<main class=" container py-5">   
 
  <h1 class="h3 mb-5 fw-normal">S'inscrire comme formateur</h1>

 {{ form_start(form) }} 

 {{ form(form)}}

{{form_end(form) }}


</main>


{%include 'footer.html.twig' %}

{% endblock %}
