{% extends 'base.html.twig' %}


{% block title %}Devenir instructeur - Eco IT, des formations pour la planête{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container px-4">
    
<section class="form-signin my-5 py-5">
  <form>

  <h1 class="h3 mb-3 fw-normal">S'inscrire comme instructeur</h1>

 {{ form(form, { 'method': 'GET'}, { 'attr' : { 'novalidate': 'novalidate'}}) }}
<div>
    {{ form_start(form) }}
   
   <input type="submit" class="btn btn-primary"></input>
    {{ form_end(form) }}
</div>
    </form>
</section>



{%include 'footer.html.twig' %}

{% endblock %}
