{% extends 'base.html.twig' %}


{% block title %}Devenir instructeur - Eco IT, des formations pour la planête{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}


	
<main class="container py-5">
  <h1 class="h3 mb-3 fw-normal">S'inscrire comme instructeur</h1>

 {{ form(form, { 'method': 'POST'}) }}

    <form class="row g-5 mt-4">

    {% form_theme form 'foundation_5_layout.html.twig '%}

    </form>  
</main>



{%include 'footer.html.twig' %}

{% endblock %}
