{% extends 'base.html.twig' %}


{% block title %}Devenir instructeur - Eco IT, des formations pour la planête{% endblock %}

{% block body %}
{% include 'navigation.html.twig'%}

	
<main class="container py-5">
    <form class="row g-5 mt-4">
    <h1 class="h3 mb-3 fw-normal">S'inscrire comme instructeur</h1>
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label">Nom</label>
    <input type="text" class="form-control" id="inputFirstName">
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Prénom</label>
    <input type="text" class="form-control" id="inputLastName">
  </div>    
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
   <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirmer le mot de passe</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Accepter les Conditions Générales d'Utilisation
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Envoyer le formulaire</button>
  </div>
</form>
</main>

{%include 'footer.html.twig' %}

{% endblock %}
