<h1>Bonjour !</h1>

<p>
    Merci de confirmer votre adresse mail en suivant ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse</a>.
   Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
