{% extends 'base.html.twig' %}

{% block title %}Tableau de bord du panneau d'administrations {% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}



<main class="container py-5">
    <h1 class="pb-4">Tableau de bord</h1>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestion des utilisateurs</h5>
        <p class="card-text">Accès à la gestion des apprenants inscrits sur le site.</p>
        <a href="{{ path('app_admin_users') }}" class="btn btn-outline-primary">Accéder</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gestion des formateurs</h5>
        <p class="card-text">Accès à la liste des utilisateurs autorisés commes formateurs.</p>
        <a href="{{ path('app_admin_teachers') }}" class="btn btn-outline-success">Accéder</a>
      </div>
    </div>
  </div>
</div>
</main>

{% endblock %}