{% extends 'base.html.twig' %}

{% block title %}Gestion des Formateurs{% endblock %}

{% block body %}

{% include 'navigation.html.twig'%}

<main class=" container py-5">
    <h1>Gestion des  Formateurs</h1>


    <section class="col-12 my-4">
    <table class="table  table-hover">
        <caption>Liste des Formateurs</caption>
            <thead>
                <tr>
                    
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                
                    <th>Formations</th>
                    <th>Photo</th>
                    <th colspan="2">Actions</th>
                
                </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.id }}</td>
                    <td></td>
                    <td></td>
                 
                  
                    <td>{{ teacher.email }}</td>
                    <td></td>
                    <td></td>
                    <td colspan="4"> 
                        <a href="#"><button class="btn btn-warning">Modifier</button></a>
                        <a href="#"><button class="btn btn-secondary">Contacter</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun utilisateur inscrit</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
   
    </section>
 </main>   


{% include 'footer.html.twig'%}

{% endblock %}