<form method="post" action="{{ path('app_lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ressource?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
       <button class="btn btn-success mb-3">{{ button_label|default('Supprimer') }}</button>
</form>
