<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eco IT - Des formations pour la planête{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }} {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascript %} {{ encore_entry_script_tags('app') }} {% endblock %}
    </body>
</html>
