<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="Eco IT, plateforme de cours dans le domaine digital. Le digital au service de l'environnement" name="author">
        <meta name="descritpion" content="Eco IT, plateforme de cours dans le domaine digital. Le digital au service de l'environnement" >
        <title>Eco IT - Des formations pour la planête</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {% block body %}    {% endblock %}
        {% block javascript %}  {{ encore_entry_script_tags('app') }} {% endblock %}
    </body>
</html>
