
    <footer class=" mt-5 text-muted text-center text-small">
	<p class="mb-4">© 2022 Eco IT - Tous droits réservés</p>
		<ul class="list-inline ">
			<li class="list-inline-item">
				<a href="{{ path('app_m_l')}}">Politiques de confidentialité</a>
			</li>
			<li class="list-inline-item">
				<a href="{{ path('app_cgu')}}">Conditions d'utilisation</a>
			</li>
		</ul>
    </footer>

