
    <footer class=" mt-5 text-muted text-center text-small">
	<p class="mb-4">© 2022 Eco IT - Tous droits réservés</p>
		<ul class="list-inline ">
			<li class="list-inline-item">
				<a href="#">Politiques de confidentialité</a>
			</li>
			<li class="list-inline-item">
				<a href="#">Conditions d'utilisation</a>
			</li>
			<li class="list-inline-item ">
				<a href="#">Support technique</a>
			</li>
		</ul>
    </footer>

